/*
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');
/*Nord Colour Theme */
/*
:root {
    --bg-color: #242933;
    --main-color: #d8dee9;
    --sub-color: #617b94;
    --text-color: #d8dee9;
}
*/

/*Rudy Colour Theme */

:root {
    --bg-color: #1a2b3e;
    --main-color: #af8f5c;
    --sub-color: #3a506c;
    --text-color: #c9c8bf;
    --button-color-green: #2E8B57;
    --button-color-red: #B22222;
    --font-aurora: "Montserrat";
    --font-header: "Montserrat";
    --font-body: "Lato";
    --font-nav: "Julius Sans One";
    }

html{
    height: 100%;
}

body {
    font-family: var(--font-body);
    color: var(--text-color) ;
    font-size: 20px;
    background-color: var(--bg-color);
    padding: 30px;
    text-align: center;
    min-height: 100%;
}

h1 {
    font-family: var(--font-header);
    color:  var(--main-color) ;
    padding: 10px;
}

h2 {
    font-family: var(--font-header);
    color:  var(--main-color) ;
    padding: 10px;
}

h3 {
    font-family: var(--font-header);
    color:  var(--main-color) ;
    padding: 10px;
}

header {
    font-family: var(--font-aurora);
    color:   var(--main-color) ;
    font-size: 445%;
    padding: 5px;
}

subhead {
    font-family: var(--font-body);
    padding: 10px;
}



tr:hover {
    text-shadow: 0 0 1px var(--main-color), 0 0 1px var(--text-color);
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: var(--font-nav);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    text-shadow: 0 0 25px var(--main-color), 0 0 5px var(--text-color);
  }

.active {
    background-color: var(--sub-color);
}

li:nth-child(5) {
    float: right;
}

li:last-child {
    float: right;
}

input {
    padding: 8px 10px;
    box-sizing: border-box;
    background-color: var(--text-color);
    border: var(--bg-color);
    color: var(--bg-color);
    display: block;
    box-sizing: border-box;
    margin: auto;
    width: 290px;
    border-radius: 15px;
    margin-top: 5px;
}
input:focus {
    background-color: var(--main-color);
    outline: none;
}

input[type=submit]:hover {
    background-color: var(--button-color-green);
}

input[type=submit] {
    width: 290px;
}


select {
    padding: 8px 10px;
    box-sizing: border-box;
    background-color: var(--text-color);
    border-radius: 2px;
    border: var(--bg-color);
    color: var(--bg-color);
    display: block;
    box-sizing: border-box;
    margin: auto;
    width: 290px;
}

table {
    border-collapse: collapse;
    margin: auto;
    text-align: left;
}


th, td {
    text-align: left;
    padding: 10px;
}

tr {
    text-align: left;
}
th {
    font-family: var(--font-body);;
    font-weight: normal;
    font-size: 110%;
    color: var(--text-color);
    border-bottom: thin solid var(--text-color);    
}

.content {
    margin: auto;
}
            

a:link {
    color: var(--text-color);
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
  }
  
a:visited {
    color: var(--text-color);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--text-color);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: var(--text-color);
    background-color: transparent;
    text-decoration: underline;
}

.button {
    transition-duration: 0.25  s;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 5px;
}

.button[value='Add book']:hover{
    background-color: var(--button-color-green);
}

.button[value=Update]:hover{
    background-color: var(--button-color-green); 
}

.button[value=Delete]:hover{
    background-color: var(--button-color-red); 
}

footer {
    padding-top: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    font-family: var(--font-nav);
}

