{% extends "layout.html" %}
{% block content %}

{% if current_user %}
<h1>Hey {{current_user.username}}, these are all the books read by Aurora users.</h1>
{% else %}
<h1>These are all the books that've been read by Aurora users.</h1>
{% endif %}

<table id="books"> 
        <tr>
            <th colspan = 1>Title</th>
            <th colspan = 1>Author</th>            
            <th colspan = 1>Genre</th>
            <th colspan = 1>Year</th>
        </tr>
    {% for book in book %}
        <tr> 
            <td> <a href="/book/{{ book.title }}"> {{ book.title }} </a></td>
            <td> <a href="/author/{{ book.authors|map(attribute='name')|join(', ') }}">{{ book.authors|map(attribute="name")|join(", ") }}</a></td>
            <td> <a href="/genre/{{ book.genres|map(attribute='name')|join(', ') }}"> {{ book.genres|map(attribute="name")|join(", ") }}</a></td>
            <td>{{ book.year }}</td>   
        </tr>
    {% endfor %}

</table>
{% endblock %}                                                                                   
