{% extends 'layout.html' %}

{% block content %}

<h1>{{author.name}}</h1>
<p>{{author.name}} is the author of the following books</p>


<table>
    <tr>
        <th colspan = 1>Title</th>
        <th colspan = 1>Genre</th>
        <th colspan = 1>Year</th>            
    </tr>
    {% for book in author.books %}
    <tr> 
        <td><a href="/book/{{ book.title }}">{{ book.title }}</a></td>
        <td><a href="/genre/{{book.genres|join(', ', attribute='name') }}">{{ book.genres|join(', ', attribute='name') }}</a></td>
        <td>{{ book.year }} </td>   
    </tr>
    {% endfor%}
</table>

{% endblock %}