{% extends "layout.html" %}
{% block content %}


{% if current_user %}
<h1>Welcome {{current_user.username}}</h1>
<p>You have successfully logged in, the journal page is now available.</p>
{% else %}
<h1>To unlock your journal, please login.</h1>
{% endif %}

<p><br>This site will allow you to record the books you've read and the relevant details of those books
 such as its titles, authors, sypnosis, year released, and genres. All of this will be displayed on the Journal page. To make changes to your Journal, go to Update. </br></p>   


{% endblock %}   