{% extends 'layout.html' %}

{% block content %}         


{% if current_user %}
<h1>Hey {{current_user.username}}, these are the books you've read.</h1>
{% endif %}

<table id="journal"> 
        <tr>
            <th colspan = 1>Title</th>
            <th colspan = 1>Author</th>  
            <th colspan = 1>Genre</th>
            <th colspan = 1>Year</th>            
        </tr>
        {% for book in user.books %}
        <tr> 
            <td>{{ book.title }} </td>
            <td>{{ book.authors|join(', ', attribute='name') }}</td>
            <td>{{ book.genres|join(', ', attribute='name') }}</td>
            <td>{{ book.year }} </td>   
        </tr>
        {% endfor%}
    </table>

{% endblock %}