{% macro nav_item(text, url, extra_class) %}
<a href="{{ url }}" class="{{ extra_class }} {% if request.path == url %}active{% endif %}">{{ text }}</a>
{% endmacro %}

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aurora - Digital Reading Journal</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">    
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        {% include "nav.html" %}
        <header>Aurora</header>
        <subhead>Your Digital Reading Journal</subhead>
        <div>
            {% for message in get_flashed_messages() %}
                {{message}}
            {% endfor %}
        </div>
        {% include "header.html" %}
        {% block content %}{% endblock %}
        {% include "footer.html" %}        
    </body>
</html>