{% extends "layout.html" %}
{% block content %}

<h1>Add new book</h1>
<form method="POST" action="/addbook" autocomplete="off">
    <input type="text" id="title" name="title" placeholder="Title here...">
    <input type="text" id="year" name="year" placeholder="Year of release here...">
    <input type="text" id="sypnopsis" name="synopsis" placeholder="Sypnosis here...">    
    <input list="genres" name="genres" placeholder="Genre here...">
    <datalist id="genres" >
      <option value="Science Fiction">Science Fiction</option>
      <option value="Fantasy">Fantasy</option>
    </datalist>
    <input list="author" name="author" placeholder="Author here...">
    <datalist id="author" >
    {% for author in author_list %}
      <option value="{{ author.name }}">{{ author.name }}</option>
    {% endfor %}
    </datalist>
    <input type="submit" class="button" value="Add book">
  </form>

<br><h1>Make changes to your journal</h1>
<table id="editjournal"> 
    <tr>
        <th colspan = 2>Title</th>
        <th colspan = 2>Author</th>            
        <th colspan = 1>Genre</th>
        <th colspan = 2>Year</th>
    </tr>     
{% for book in user.books %}
    <tr> 
        <td> <a href="/book/{{book.title}}">{{ book.title }}</a></td>
        <td>
          <form method="POST" action='/updatetitle' style="display: inline" autocomplete="off">
            <input type="hidden" value="{{book.title}}" name="oldtitle">
            <input type="text" value="{{book.title}}" name="newtitle">
            <input type="submit" class="button" value="Update">          
          </form>
       </td>
        <td> <a href="/author/{{ book.authors|join(', ', attribute='name') }}">{{ book.authors|map(attribute="name")|join(", ") }}</a></td>
        <td>
          <form method="POST" action='/updateauthor/{{ book.bookid }}' style="display: inline" autocomplete="off">
            <!-- <input type="hidden" value="{{ book.authors|join(', ', attribute='name') }}" name="oldauthor"> -->
            <!-- <input type="text" value="{{ book.authors|join(', ', attribute='name') }}" name="newauthor"> -->
            <datalist id="author-list">
              {% for author in author_list %}
                <option value="{{ author.name }}">{{ author.name }}</option>
              {% endfor %}
            </datalist>
            <div class="authors">
              {% for author in book.authors %}
                <input list="author-list" name="author" value="{{ author.name }}" />
              {% endfor %}
            </div>
            <div><input type="button" class="button add-author" value="Add"><input type="submit" class="button update" value="Update"></div>
          </form>
        </td>
        <td> <a href="/genre/{{ book.genres|join(', ', attribute='name') }}">{{ book.genres|map(attribute="name")|join(", ") }}</a></td>
        <td>{{ book.year }}</td>          

        <td>
          <form method="POST" action="/delete" style="display: inline">
            <input type="hidden" value="{{book.title}}" name="title">
            <input type="submit" class="button" value="Delete">
          </form>
        </td>
    </tr>
{% endfor %}
</table>
<script>
  function addAuthor (event) {
    // find the authors div
    const authors = event.target.parentElement.parentElement.querySelector('.authors');
    // add a new input to the element
    // authors.innerHTML = authors.innerHTML + '<input list="author-list" name="author" />';
    authors.insertAdjacentHTML('beforeend', '<input list="author-list" name="author" />')
  }

  document.querySelectorAll('.button.add-author').forEach(function (button) {
    button.addEventListener('click', addAuthor);
  })
</script>

{% endblock %}   

