{% extends "layout.html" %}
{% block content %}
<h1>Add new author</h1>
<form method="POST" action="/addauthor" autocomplete="off">
    <input type="text" id="name" name="name" placeholder="Name here...">
    <input type="submit" class="button" value="Add">
  </form>

<h1>Add new book</h1>
<form method="POST" action="/addbook" autocomplete="off">
    <input type="text" id="title" name="title" placeholder="Title here...">
    <input type="text" id="year" name="year" placeholder="Year of release here...">
    <input type="text" id="sypnosis" name="sypnosis" placeholder="Sypnosis here...">    <input type="text" id="genre" name="genre" placeholder="Genre name here...">
    <input type="text" id="author" name="author" placeholder="Author name here...">
    <input type="submit" class="button" value="Add">
  </form>


{% endblock %}   

